data/*
MSD_data/*
preprocessed/*
lightning_logs/*

*.pyc
*.vscode
*__pycache__ 
postprocessed/*
checkpoints/*
trash/*
temp_QC/*
evaluations/*
nnUnet/*

*.csv
*.xlsx
https://github.com/robustml-eurecom/multi-organ-qc