data/*
MSD_data/*
preprocessed/*
lightning_logs/*

*.pyc
*.vscode
*__pycache__ 
postprocessed/*
checkpoints/*
trash/*
temp_QC/*
nnUnet_seg/*

*.csv
*.xlsx
*.zip
*.html

https://github.com/robustml-eurecom/multi-organ-qc